{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<body>
    <hr class="blog-post">
        <h2 class="blog-post-title"><center>{{post.title}}</center></h2>
          <p>{{post.post|safe|linebreaks}}</p><br/>
          <p>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="/">1</a></li>
                        <li class="page-item"><a class="page-link" href="/2">2</a></li>
                        <li class="page-item"><a class="page-link" href="/3">3</a></li>
                        </li>
                    </ul>
                </nav>




            <hr><h3><b>Оставьте свой комментарий</b></h3><hr>
            <form action="/" method="post">
            {%csrf_token%}
            {{form|crispy}}
            <button type="submit" class="btn btn-success">Отправить</button>
            </form>
            <hr><h3><b>Коментарии:</b></h3>
            {% for comment in comments %}
            <hr><p></p><b>{{ comment.name }}:</b>
            {{ comment.text }}
            {% endfor %}
    </div>
</body>

{% endblock content %}





















<!--extends 'blog/base.html' -->
<!--load crispy_forms_tags -->

<!-- block content -->
<!--<center><h2>{{post.title}}</h2></center>-->
<!--<h6><b>Опубликовано: {{post.date|date:"Y-m-d в H:i:s"}}</b></h6>-->
<!--<p>{{post.post|safe|linebreaks}}</p><br/>-->

<!--<p>-->
<!--    <form action="/" method="post">-->
<!--        {%csrf_token%}-->
<!--        {{form|crispy}}-->
<!--        <button type="submit" class="btn btn-success">Отправить</button>-->
<!--    </form>-->
<!--</p>-->

<!--    <h6>Коментарии</h6>-->
<!--    {% for comment in comments %}-->
<!--    <b><h3>{{ comment.name }}:</h3></b>-->
<!--    {{ comment.text }}-->
<!--    {% endfor %}-->


<!-- endblock content -->