<!doctype html>
<html lang="en">

<body>
  <div class="container">
    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="/">Главная</a>
        <a class="p-2 text-muted" href="download">Скачать книгу</a>
        <a class="p-2 text-muted" href="contact">Контакты</a>
      </nav>
    </div>
    <div class="blog-post">
      <h2 class="blog-post-title">TITLE</h2>
      <p class="blog-post-meta">Publication Date</p>
    </div>

  </div>

</body>